<form method="POST">
    {% set input_name = "location" %}
    {% set input_type = "text" %}
    {% set input_placeholder = "Insira a sua localização." %}
    {% include "components/customInput.html" %}

    {% set input_name = "radius" %}
    {% set input_type = "number" %}
    {% set input_placeholder = "Insira o raio de distancia." %}
    {% include "components/customInput.html" %}

    {% set btn_type = "submit" %}
    {% set btn_text = "Enviar" %}
    {% include "components/button.html" %}
</form>