<div style="display: flex;justify-content: center;">
    <div class="location-div">
        <input id="SearchLocationId" type="text" name="location" placeholder="Insira a sua localização." >
        <button type="button" id="btnLocation" class="btn btn-primary" style="color: #4A49C5; background: none; border: none; cursor: pointer;" onclick="onClickLocation()">
            <i class="fas fa-map-marker-alt location-icon"></i>
        </button>
    </div>
    <div class="location-type-div">
        <select id="places" name="place">
            <option value="restaurant">Restaurante</option>
            <option value="cafe">Café</option>
            <option value="bar">Bar</option>
            <option value="nightclub">Clube Noturno</option>
            <option value="hotel">Hotel</option>
            <option value="shopping_mall">Shopping</option>
            <option value="grocery_or_supermarket">Supermercado</option>
            <option value="pharmacy">Farmácia</option>
            <option value="hospital">Hospital</option>
            <option value="bank">Banco</option>
            <option value="gas_station">Posto de Gasolina</option>
        </select>
    </div>
    <button id="place-smt" type="submit" onclick="initMapp()" class="submit-btn" style="margin: 5px; border-radius: 15px;">Buscar</button>
</div>