<div style="display: flex; align-items: center ;justify-content: center;">
    <div class="location-div">
        <input id="SearchLocationId" type="text" name="location" placeholder="Insira a sua localização." >
        <button type="button" id="btnLocation" class="btn btn-primary" style="color: #4A49C5; background: none; border: none; cursor: pointer;" onclick="onClickLocation()">
            <i class="fas fa-map-marker-alt location-icon"></i>
        </button>
    </div>
    <div class="location-div">
        <input id="SearchDestinationId" type="text" name="destination" placeholder="Insira a seu destino." >
        <button type="button" id="btnLocation" class="btn btn-primary" style="color: #4A49C5; background: none; border: none; cursor: pointer;" onclick="onClickLocation()">
            <i class="fas fa-map-marker-alt location-icon"></i>
        </button>
    </div>

    <button onclick="initMap()" class="submit-btn" style="margin: 5px; border-radius: 15px;">Buscar</button>
</div>