<!DOCTYPE html>
<html>
<head>
    <title>Geoloc</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tailwind.css') }}">
</head>
<body>
    <header>
        <h1 class="text-3xl font-bold underline p-4">Geoloc </h1>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Geoloc</p>
    </footer>
</body>
</html>
