<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <title>Geoloc</title>
   <!----><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="{{ url_for('static', filename='js/location.js')}}"></script>
</head>
<body>
    <div id="loading" class="loading-container" >
        <svg class="loading-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" r="45" fill="none" stroke="#007bff" stroke-width="6"></circle>
        </svg>
    </div>
    
    <nav id="navbar" class="p-3.5 mb-4 flex justify-between items-center bg-gray-800 text-white border-b border-yellow-300">
        <a href="/" id="logo">
            <img src="{{ url_for('static', filename='img/icon.png') }}" alt="Geoloc" width="40px" height="40px">
        </a>
        <ul class="flex list-none">    
            <li class="ml-4"><a href="/" class="text-white no-underline transition duration-500 font-bold hover:text-yellow-300">Home</a></li>
            <li class="ml-4"><a href="/places" class="text-white no-underline transition duration-500 font-bold hover:text-yellow-300">Lugares</a></li>
        </ul>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p><span>Geoloc</span> &copy; 2023</p>
    </footer>
</body>
</html>
