* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    padding: 1.2em 2.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #50A2C4;
    color: #fff;
    border-bottom: 1px solid #4A49C5;
}
    
#navbar ul {
    display: flex;
    list-style: none;
}
    
#navbar ul li {
    margin-left: 1em;
}
    
#navbar ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    font-weight: bold;
}
    
#navbar ul li a:hover {
    color: #4A49C5;
}

.container {
    min-height: 85vh;
    padding: 2em;
}

footer {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4A49C5;
    background-color: #50A2C4;
    color: #fff;
}
    
footer span {
    font-weight: bold;
    color: #fff;
}

.place-header {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
    
.place-header h1 {
    margin-bottom: 1em;
}
    
.place-header span {
    color: #4A49C5;
}
    
.place-header p {
    margin-bottom: 1.2em;
}
    
.place-header form {
    margin-bottom: 1em;
}

.location-div {
    display: flex;
    justify-content: space-between;
    border: 2px solid #4A49C5;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 1em;
    padding: 0.5em;
    width: 50%;
}

.location-type-div {
    display: flex;
    justify-content: space-between;
    border: 2px solid #4A49C5;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 1em;
    padding: 0.5em;
    width: 20%;
}
    

.place-header input {
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 15px;
    padding: 0.5em;
    margin-right: 1em;
}
    
.place-header input[type='text'] {
    width: 95%;
}

.place-header input:focus {
    outline: none;
}

.place-header select{
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 15px;
    padding: 0.5em;
    margin-right: 1em;
    width: 95%;
    background-color: #fff;
    color: #4A49C5;
}

.place-header select{
    outline: none;
}
    
.place-header input::placeholder {
    color: #fff;
}

.submit-btn {
background-color: transparent;
color: #4A49C5;
border: 2px solid #4A49C5;
padding: 0.5em 1.3em;
margin-bottom: 1em;
font-size: 1em;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
transition: 0.5s;
}

.submit-btn:hover {
background-color: #4A49C5;
color: #fff;
}

.location-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 250px; /* Ajuste a largura conforme necessário */
}

/* Estilo do botão de localização */
.location-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 5px 10px;
}

/* Estilo do ícone (usando Font Awesome) */
.location-icon {
    margin-right: 5px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
    
.title-container h2 {
    border-left: 4px solid #4A49C5;
    padding: 10px;
}

.loading-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilize o SVG */
.loading-svg {
    width: 50px; /* Defina o tamanho desejado */
    height: 50px;
    animation: spin 1s linear infinite; /* Animação de rotação */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}