{% extends 'index.html' %}

{% block content %}
    <div class="place-header">
        {% if lugares %}
            <p class="font-helvetica"  style="margin-bottom: 10px; color: #4A49C5; font-size: 35px;">Foram encontrados {{ lugares|length }} lugares.</p>
        {% else %}
            <h2 class="font-helvetica" style="margin-bottom: 10px; color: #4A49C5; font-size: 35px;">{{title}}</h2>
        {% endif %}
        {% include "components/placesForm.html" %}
    </div>
    <div class="title-container">
        <h2 style="color: #4A49C5; font-size: 25px;" class="font-helvetica" >Busque lugares proximos a você.</h2>
    </div>
    
    {% for lugar in lugares %}
    <li>
        <strong>Nome:</strong> {{ lugar.name }}<br>
        <strong>Endereço:</strong> {{ lugar.address }}<br>
        <strong>Score:</strong> {{ lugar.rating }}<br>
        <strong>Tipo:</strong> {{ lugar.types }}<br>
        <strong>Localização:</strong> {{ lugar.location }}<br>
        <strong>Aberto:</strong> {{ lugar.open_now }}<br>
    </li>
    {% endfor %}
   

{% endblock %}
